node_modules
.env

circuits/output
circuits/secret

circuits/*_witness.wtns

coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts 

tmp
hedera-json-rpc-relay

contracts.txt
package-lock.json